.note-form {
  line-height: 2em;
  button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
  }
}
